/* CSS file */
Application {
	backgroundColor:  #E0EEE0;
	themeColor: #9AFF9A;
}

Alert {
	backgroundColor: #FFFFFF;
	color: #000000;
}


Panel {
	borderColor: #9AFF9A;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderThicknessBottom: 1;
	borderAlpha: 1;
	
	paddingTop: 10;
	paddingLeft: 10;
	paddingRight: 10;
	paddingBottom: 10;

	highlightAlphas: .1, 0;
	headerColors:  #008B45	, #008B45;

	titleStyleName: "myPanelStyle";
}

MainUI {
	horizontalAlign : center;	
}

.mainBody {
	backgroundColor: #BBFFFF;
	paddingTop: 20;
	horizontalAlign : center;	
}

Login {
	horizontalAlign: center;
}

Tree {
	folderClosedIcon: ClassReference(null);
	folderOpenIcon: ClassReference(null);
	}

Form, Label, TextInput { 
	   color: #000000;
	   font-weight: normal;
}

FormItem, List { 
	   font-weight: bold;
	    text-align: left;
}

.myPanelStyle {
	color: #FFFFFF;
}

.panelText {
	color: #000000;
	 font-weight: none;
	 text-align: left;
}

